<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>572503178467-p8of9805fk6b1f77750ffunupjovlgtc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.572503178467-p8of9805fk6b1f77750ffunupjovlgtc</string>
	<key>API_KEY</key>
	<string>AIzaSyCGpWbw9R5xokMYK-dRSHq8ZFY2utCQDDA</string>
	<key>GCM_SENDER_ID</key>
	<string>572503178467</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.CafeManager-cobsccomp192p-047-cw</string>
	<key>PROJECT_ID</key>
	<string>cafemanager-756bc</string>
	<key>STORAGE_BUCKET</key>
	<string>cafemanager-756bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:572503178467:ios:916baa285587e52558d9d6</string>
</dict>
</plist>